<section class="device">
    <div class="container">
        <div class="device__inner">
            <div class="device__headline">
                <div class="device__headline--title">
                    <h2>Чем мы поможем?</h2>
                </div>
                <div class="device__headline--param">
                    <p>Приоритетным направлением деятельности нашей компании является ремонт бытовой техники на дому.</p>
                </div>
                <div class="icon-down">
                    <img src="img/icon-down-arrow.svg" alt="">
                </div>
            </div>
            <div class="device__grid">
                <div class="device__card">
                    <div class="device__card--title">
                        <h3>Ремонт стиральных машин</h3>
                    </div>
                    <div class="device__card--body">
                        <div class="device__card--column">
                            <ul class="device__card--list list-reset">
                                <li class="device__card--item">Не сливает</li>
                                <li class="device__card--item">Долго сливает</li>
                                <li class="device__card--item">Протекает</li>
                                <li class="device__card--item">Не отжимает</li>
                                <li class="device__card--item">Не влючается</li>
                                <li class="device__card--item">Сильно шумит</li>
                            </ul>
                            <a href="#" class="link-reset btn-primary">Подробнее <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="device__card--column">
                            <img src="img/wash.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>