<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo link-reset">
        <img src="img/logo.svg" alt="Логотип MR.Быт">
      </a>
      <div x-data="{ open: false }" class="problem-block">
        <button x-on:click="open = true" class="btn-bar btn-reset" id="btn-bar">
          <i class="fas fa-bars"></i>
        </button>
        <div x-show="open" x-transition.opacity class="wrap-opacity">
          <div x-on:click.away="open = false" class="menu-wrap">
            <div class="menu-wrap__col">
              <ul class="porblem-list list-reset">
                <li class="problem-list__item"><a href="#" class="problem-list__link link-reset">Ремонт стиральных машин</a></li>
                <li class="problem-list__item"><a href="#" class="problem-list__link link-reset">Ремонт холодильников</a></li>
                <li class="problem-list__item"><a href="#" class="problem-list__link link-reset">Ремонт посудомоечных машин</a></li>
              </ul>
            </div>
            <div class="menu-wrap__col">
              <ul class="points-list list-reset">
                <li class="points-list__item">Не морозит</li>
                <li class="points-list__item">Перемораживает</li>
                <li class="points-list__item">Намерзает лёд</li>
                <li class="points-list__item">Не включается</li>
                <li class="points-list__item">Не выключается</li>
                <li class="points-list__item">Не включается</li>
                <li class="points-list__item">Сильно шумит</li>
                <li class="points-list__item">Протекает</li>
                <li class="points-list__item">Не холодит</li>
                <li class="points-list__item">Греется</li>
              </ul>
              <a href="#" class="btn-primary">Подробнее <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link link-reset">Цена на услуги</a></li>
          <li class="nav__item"><a href="#" class="nav__link link-reset">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__link link-reset">Отзывы</a></li>
          <li class="nav__item"><a href="#" class="nav__link link-reset">Контакты</a></li>
        </ul>
      </nav>
      <ul class="contact-list list-reset">
        <li id="cityMenu" class="contact-list__item"><a href="#" class="contact-list__link"><i class="fas fa-sort-down"></i>Москва и Подмосковье</a>
          <div id="cityWrap" class="city-wrap">
            <ul class="city-list list-reset">
              <li class="city-list__item"><a href="#" class="city-list__link link-reset">Москва и Подмосковье</a></li>
              <li class="city-list__item"><a href="#" class="city-list__link link-reset">Санкт-Петербург</a></li>
            </ul>
          </div>
        </li>
        <li class="contact-list__item"><a href="tel:+79451065216" class="contact-list__link link-reset">8(945)<span>106-52-16</span></a></li>
      </ul>
    </div>
  </div>
</header>