<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__wrap">
                <div class="hero__info">
                    <div class="hero__info--subtitle">
                        <h3>БЫСТРО И ПРОСТО</h3>
                    </div>
                    <div class="hero__info--title">
                        <h2>РЕМОНТ БЫТОВОЙ ТЕХНИКИ</h2>
                    </div>
                    <div class="hero__info--span">
                        <img src="img/hero-man.svg" alt="">
                        <span>Выезд мастера от 30 минут</span>
                    </div>
                    <form action="#" method="POST" class="hero__info--form">
                        <input type="text" id="phoneNumber" name="phoneNumber" class="number" placeholder="+7(969)000-00-00">
                        <button type="submit" id="btnNumber" class="btn-number">Заказать</button>
                    </form>
                </div>
                <div class="hero__img">
                    <img src="img/master.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>